.character {
    background-position-y: 25px;
    background-repeat: no-repeat;
    background-size: 167px 300px;
    width: 167px;
    height: 325px;
}

.harry {
    background-image: url(/dueling-club/harry-left.png);
}

.harry.opponent {
    background-image: url(/dueling-club/harry-right.png);
}

.malfoy {
    background-image: url(/dueling-club/malfoy-left.png);
}

.malfoy.opponent {
    background-image: url(/dueling-club/malfoy-right.png);
}

.redhead {
    background-image: url(/dueling-club/redhead-left.png);
}

.redhead.opponent {
    background-image: url(/dueling-club/redhead-right.png);
}

.brunette-girl {
    background-image: url(/dueling-club/brunette-girl-left.png);
}

.brunette-girl.opponent {
    background-image: url(/dueling-club/brunette-girl-right.png);
}

.poc-1 {
    background-image: url(/dueling-club/poc-1-left.png);
}

.poc-1.opponent {
    background-image: url(/dueling-club/poc-1-right.png);
}

.poc-2 {
    background-image: url(/dueling-club/poc-2-left.png);
}

.poc-2.opponent {
    background-image: url(/dueling-club/poc-2-right.png);
}

.asian {
    background-image: url(/dueling-club/asian-left.png);
}

.asian.opponent {
    background-image: url(/dueling-club/asian-right.png);
}