main {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamescreen {
    background-size: 700px 500px;
    width: 700px;
    height: 500px;
}

@media (min-width: 1000px) {
    .gamescreen {
        background-size: 1152px 760px;
        width: 1152px;
        height: 760px;
    }

    .gamescreen.field {
        justify-content: space-around;
    }

    .gamescreen > h3 {
        font-size: 3.4rem;
    }

    .scroller {
        display: none;
    }

    .character-carousel-inner.push-left,
    .character-carousel-inner.push-right {
        transform: none !important;
    }
}

.opening {
    background-image: url(/dueling-club/opening.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.field {
    background-image: url(/dueling-club/dueling-field.png);
    display: flex;
    flex-direction: column;

    animation: fadein 1s;
}

.lowerText {
    color: white;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: white;
    font-size: 3.4rem;
    font-family: 'Merienda', cursive;
    margin-bottom: 0.3em;
}

.character-carousel-outer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.character-carousel {
    width: 100%;
    max-width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.character-carousel-inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    transition: 450ms transform;
}

.character-carousel .character {
    position: relative;
    display: inline-block;
    transition: 450ms all;
    transform-origin: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.character-carousel-inner.push-left {
    transform: translate3d(334px, 0, 0);
}

.character-carousel-inner.push-right {
    transform: translate3d(-334px, 0, 0);
}

.character-carousel-inner:hover .character {
    opacity: .3;
}

.character-carousel-inner:hover .character:hover {
    transform: scale(1.5);
    opacity: 1;
}

.character-carousel .character:hover ~ .character {
    transform: translate3d(83.5px, 0, 0);
}

.character-carousel .character > button {
    visibility: hidden;
}

.character-carousel .character:hover > button {
    visibility: visible;
}

.character-carousel .character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.duel .character {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    flex-shrink: 0;
}

.character .effect {
    align-self: center;
    color: white;
    text-shadow: black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px;
}

.duel .character .hp-bar {
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: white;
}

.hp-bar > .health-bar {
    background: #cccccc;
    border: 1px solid black;
    flex-grow: 1;
}

.health-bar > .current-health {
    width: 100%;
    height: 100%;
    background: #0000aa;
    transition: 200ms width;
}

.books {
    width: 100%;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.books-inner {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    transition: 450ms transform;
}

.book {
    position: relative;
    display: inline-block;
    transition: 450ms all;
    transform-origin: center;
    flex-shrink: 0;
    box-sizing: border-box;

    background-image: url(/dueling-club/book.png);
    background-size: 125px 80px;
    width: 125px;
    height: 80px;
}

.books-inner.dueling .book {
    opacity: .3;
}

.books-inner:hover .book {
    opacity: .3;
}

.books-inner:not(.dueling):hover .book:hover {
    transform: scale(1.5);
    opacity: 1;
}

.details {
    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book > .details {
    visibility: hidden;
}

.books-inner:not(.dueling) .book:hover > .details {
    visibility: visible;
}

button.cast-spell {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button.cast-spell:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

button.cast-spell:disabled {
    background-color: #333333;
}

button.cast-spell:disabled:hover {
    color: white;
    cursor: unset;
}

.spacer {
    flex-shrink: 0;
    flex-grow: 1;
}

.instructions {
    margin-top: 1em;
    text-align: center;
    color: white;
    text-shadow: black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px,
                 black 0px 0px 1px, black 0px 0px 1px, black 0px 0px 1px;
    font-size: 1.5rem;
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.duel-description.new {
    animation: slide-in-from-left 450ms ease-in;
}

.duel-description.end {
    transform: translateY(-500%);
}

.opponent .duel-description.new {
    animation: slide-in-from-right 450ms ease-in;
}

.duel-description {
    text-align: center;
    border: 1px solid black;
    background-color: yellowgreen;
    color: black;
    padding: 5px;
    font-size: 1.2rem;

    transition: transform 750ms;
}

.explanation {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    overflow-x: hidden;
}

.gamescreen > button {
    margin-bottom: 0.5em;
}

.victory {
    justify-content: center;
}

.gamescreen > h3 {
    font-size: 2rem;
}