<!doctype html>
<html>
    <head>
        <title>{% block title %}Owl Week Games{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <div class="wrapper">
            <main>
                {% block main %}
                {% endblock main %}
            </main>
            <footer>
                {% block extra_footer %}
                {% endblock extra_footer %}
                Created 2020 by Nathan Moos for the Salt Lake County Library System.
                Source available on <a href="https://github.com/moosingin3space/owl-week-games">GitHub</a>.
            </footer>
        </div>
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
